*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --primary: #5f9ae0;
  --secondary: #ff7f50;
  --secondary-light: #ffa483;
  --white: #fff;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}
@media (min-width: 1000px) {
  header {
    align-items: center;
    flex-direction: row;
  }
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0 1rem;
}

h1,
p {
  margin: 0;
}

button {
  background-color: var(--primary);
  border: 0;
  color: var(--white);
  flex-grow: 0;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
}

img {
  margin-bottom: 1rem;
  width: 100%;
}

button + button,
input + button {
  margin-left: 2px;
}
@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
}

form {
  padding: 1rem 0;
}

input {
  background-color: var(--secondary-light);
  border: 2px solid var(--secondary);
  color: var(--white);
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

input::placeholder {
  color: var(--white);
}

input:focus,
input:hover {
  background-color: var(--secondary);
  outline: 0;
}

.App {
  text-align: center;
}

.App-SearchForm {
  align-items: center;
  display: flex;
}

/* @media (min-width: 600px) {
  .App-results {
    column-count: 2;
  }
}
@media (min-width: 1000px) {
  .App-results {
    column-count: 3;
  }
}
@media (min-width: 1400px) {
  .App-results {
    column-count: 4;
  }
} */

.muted {
  color: var(--muted);
}

.brand {
  align-items: center;
  display: flex;
  width: auto;
}

.brand img {
  height: 2rem;
  margin: 0 0.5rem 0 0;
  width: auto;
}

.brand h1 {
  font-weight: 200;
  letter-spacing: -1px;
  margin-right: 1rem;
  white-space: nowrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
